<div class="login__container">
  <div class="login__title">
    <img src="./assets/img/logo.png">
    <h1>Attrecto Movies</h1>
  </div>
  <div class="login__content">
    <div class="login__box">
      <div class="login__header">
        <h2>Login</h2>
      </div>

      <form>
        <div id="E" >
          <input type="email" id="form2Example1" class="form-control" placeholder="Email" />
        </div>

        <div id="P">
          <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
        </div>


      </form>
      <div class="login__submit">
        <button class="login__button" type="button">Sign in</button>
      </div>
    </div>

    <div class="login__viewers">
      <a href="">
        <img src="../assets/img/viewers-disney.png">
      </a>
      <a href="">
        <img src="../assets/img/viewers-marvel.png">
      </a>
      <a href="">
        <img src="../assets/img/viewers-pixar.png">
      </a>
      <a href="">
        <img src="../assets/img/viewers-starwars.png">
      </a>
    </div>
  </div>



</div>
